/* Theme */
:root {
  --curve: #3c3c3c;
  --node: #eeeeee;
  --tangent: #4caf50;
  --pos-z: #1976d2;
  --pitch: #ff9800;
  --grid: #eeeeee;
}

[data-dark] {
  --curve: #fff;
  --node: #707070;
  --tangent: #7fbc82;
  --pos-z: #53b5df;
  --pitch: #e8ac54;
  --grid: #303030;
}

/* Reset */
body, #root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

/* Curve Editor */
.curve-editor {
  flex: 1;
}

.curve-editor:focus {
  outline: none;
}

.curve-editor-grid {
  stroke: var(--grid);
  stroke-width: 1;
}

/* Curve Path */
.curve-path {
  fill: none;
  stroke: var(--curve);
}

.curve-path.closed {
  opacity: 0.25;
}

.curve-path-connector {
  fill: var(--curve);
}

/* Pos XY Handle */
.pos-xy-handle {
  fill: var(--node);
  stroke: var(--curve);
  stroke-width: 2;
}

.pos-xy-handle.selected {
  stroke: var(--tangent);
}

/* Tangent Handle */
line.tangent-handle {
  stroke: var(--tangent);
  stroke-width: 3;
}

circle.tangent-handle {
  fill: var(--tangent);
}

/* Arrow Up Handle */
.pos-z-handle {
  fill: var(--pos-z);
  opacity: 0.25;
}

.pos-z-handle:hover, .pos-z-handle.selected {
  opacity: 1;
}

/* Rotate Horizontal */
.pitch-handle {
  fill: var(--pitch);
  opacity: 0.25;
}

.pitch-handle:hover, .pitch-handle.selected {
  opacity: 1;
}