/* Theme */
:root {
  --curve: #000000;
  --node: #5a5a5a;
  --tangent: #499f4c;
  --pos-z: #1e6dbd;
  --pitch: #df9423;
}

[data-dark] {
  --curve: #fff;
  --node: #737373;
  --tangent: #89d88c;
  --pos-z: #90caf9;
  --pitch: #ffc35e;
}

/* Curve Editor */
.curve-editor {
  width: 100%;
  height: 100%;
}

.curve-editor:focus {
  outline: none;
}

/* Curve Path */
.curve-path {
  fill: none;
  stroke: var(--curve);
  stroke-width: 3;
}

.curve-path.closed {
  stroke: var(--node);
  stroke-dasharray: 30, 15;
}

/* Pos XY Handle */
.pos-xy-handle {
  fill: var(--node);
  stroke: var(--curve);
  stroke-width: 2;
}

.pos-xy-handle.selected {
  stroke: var(--tangent);
}

/* Tangent Handle */
line.tangent-handle {
  stroke: var(--tangent);
  stroke-width: 3;
}

circle.tangent-handle {
  fill: var(--tangent);
}

/* Arrow Up Handle */
.pos-z-handle {
  fill: var(--pos-z);
  opacity: 0.25;
}

.pos-z-handle:hover, .pos-z-handle.selected {
  opacity: 1;
}

/* Rotate Horizontal */
.pitch-handle {
  fill: var(--pitch);
  opacity: 0.25;
}

.pitch-handle:hover, .pitch-handle.selected {
  opacity: 1;
}